{% extends "blog/base.html" %}

{% block content %}
<div class="col-xs-12 col-sm-9">
    <h2>Contato</h2>
    <form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Enviar" />
</form>
</div>
{% endblock %}