<div class="list-group">
    <a href="#" class="list-group-item active">Categorias</a>
    {% for item in result %}
    <a href="{{ item.get_absolute_url }}" class="list-group-item">{{ item.nome }}</a>
    {% endfor %}
</div>