{% extends "popebu/base.html" %}
{% block head %}
{{ block.super }}
<title>Popebu | Setup</title>
<!-- Custom styles for this template -->
<link href="{{ STATIC_URL}}setup/css/main.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Obrigado por utilizar o Popebu!</h1>
        <p class="lead">Agora, que tal come&ccedil;armos o seu setup?</p>
    </div>
    <hr class="featurette-divider">
    <form action="/" method="post">{% csrf_token %}
    <div class="row featurette">
        <div class="col-md-7">
           <h2 class="featurette-heading">Passo 1: <span class="text-muted">Fale-me mais sobre seu novo site.</span></h2>
           <p>Esses dados podem ser posteriormente editados. Caso o faça, lembre-se de atualizar a variável ALLOWED_HOSTS no arquivo settings.py com o novo domínio cadastrado.</p>
        </div>
        <div class="col-md-5">
           <div class="lead">
                <fieldset>
                    <label for="id_nome">Nome</label>
                    {{ form.nome }}
                    {{ form.nome.errors }}
                    <p>{{ form.nome.help_text }}</p>
                </fieldset>
                <fieldset>
                    <label for="id_allowed_hosts">Dom&iacute;nio</label>
                    {{ form.allowed_hosts }}
                    {{ form.allowed_hosts.errors }}
                    <p>{{ form.allowed_hosts.help_text }}</p>
                </fieldset>
                <fieldset>
                    <label for="id_debug">Debug</label>
                    {{ form.debug }}
                    {{ form.debug.errors }}
                    <p>{{ form.debug.help_text }}</p>
                </fieldset>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-5">
            <div class="lead">
                <fieldset>
                    <label for="id_db_nome">Nome</label>
                    {{ form.db_nome }}
                    {{ form.db_nome.errors }}
                    <p>{{ form.db_nome.help_text }}</p>
                </fieldset>
                <fieldset>
                    <label for="id_db_user">Usu&aacute;rio</label>
                    {{ form.db_user }}
                    {{ form.db_user.errors }}
                    <p>{{ form.db_user.help_text }}</p>
                </fieldset>
                <fieldset>
                    <label for="id_db_senha">Senha</label>
                    {{ form.db_senha }}
                    {{ form.db_senha.errors }}
                    <p>{{ form.db_senha.help_text }}</p>
                </fieldset>
                <fieldset>
                    <label for="id_db_host">Endere&ccedil;o</label>
                    {{ form.db_host }}
                    {{ form.db_host.errors }}
                    <p>{{ form.db_host.help_text }}</p>
                </fieldset>
                <fieldset>
                    <label for="id_db_porta">Porta</label>
                    {{ form.db_porta }}
                    {{ form.db_porta.errors }}
                    <p>{{ form.db_porta.help_text }}</p>
                </fieldset>
            </div>
        </div>
        <div class="col-md-7">
           <h2 class="featurette-heading">Passo 2: <span class="text-muted">Um banco para dados seria bom...</span></h2>
           <p>Informe um banco de dados MySQL. </p>        
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Passo 3: <span class="text-muted">Extras! Extras! Extras!</span></h2>
            <p>Para garantir que nenhuma ferramenta de automação acesse a área administrativa do Popebu indevidamente, após três tentativas mal sucedidas é exibido um Captcha para garantir a segurança do sistema. Acesse o site do <a href="https://www.google.com/recaptcha" target="_blank">ReCaptcha</a> para gerar suas chaves de segurança.</p>
            <p>O <a href="http://lucene.apache.org/solr/" target="_blank">Solr</a> é uma ferramenta para busca semântica. Saiba mais lendo a sua <a href="http://lucene.apache.org/solr/tutorial.html" target="_blank">documentação</a>.</p>
            <p>Já o <a href="http://memcached.org/" target="_blank">Memcached</a> é uma ferramenta que auxilia no cacheamento dos dados da sessão. Saiba mais lendo a sua <a href="http://code.google.com/p/memcached/wiki/NewStart" target="_blank">documentação</a>.</p>
        </div>
        <div class="col-md-5">
            <div class="lead">
                <fieldset>
                    <label for="id_recaptcha_public_key">Public Key</label>
                    {{ form.recaptcha_public_key }}
                    {{ form.recaptcha_public_key.errors }}
                    <p>{{ form.recaptcha_public_key.help_text }}</p>
                </fieldset>
                <fieldset>
                    <label for="id_recaptcha_private_key">Private Key</label>
                    {{ form.recaptcha_private_key }}
                    {{ form.recaptcha_private_key.errors }}
                    <p>{{ form.recaptcha_private_key.help_text }}</p>
                </fieldset>
                <fieldset>
                    <label for="id_solr_url">Solr</label>
                    {{ form.solr_url }}
                    {{ form.solr_url.errors }}
                    <p>{{ form.solr_url.help_text }}</p>
                </fieldset>
                <fieldset>
                    <label for="id_memcached_url">Memcached</label>
                    {{ form.memcached_url }}
                    {{ form.memcached_url.errors }}
                    <p>{{ form.memcached_url.help_text }}</p>
                </fieldset>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-5">
            <div class="lead">
                <fieldset>
                    <label for="id_superuser_username">Username</label>
                    {{ form.superuser_username }}
                    {{ form.superuser_username.errors }}
                    <p>{{ form.superuser_username.help_text }}</p>
                </fieldset>
                <fieldset>
                    <label for="id_superuser_senha">Senha</label>
                    {{ form.superuser_senha }}
                    {{ form.superuser_senha.errors }}
                    <p>{{ form.superuser_senha.help_text }}</p>
                </fieldset>
                <fieldset>
                    <label for="id_superuser_email">Email</label>
                    {{ form.superuser_email }}
                    {{ form.superuser_email.errors }}
                    <p>{{ form.superuser_email.help_text }}</p>
                </fieldset>
                <fieldset>
                    <label for="id_superuser_email">Confirme email</label>
                    {{ form.superuser_email_confirm }}
                    {{ form.superuser_email_confirm.errors }}
                    <p>{{ form.superuser_email_confirm.help_text }}</p>
                </fieldset>
            </div>
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">Passo 4: <span class="text-muted">Super-user!</span></h2>
            <p>Utilize um email válido para cadastrar o seu usuário pois o mesmo será utilizado para o reenvio da sua senha caso a esqueça.</p>
        </div>
    </div>
    <p align="right"><input class="btn btn-primary btn-lg" type="submit" value="Enviar" /></p>
    <hr class="featurette-divider">
    </form>
</div><!-- /.container -->
{% endblock %}